.app{
	background-color: #282c34;
	color: white;
	height: calc(100vh - 100px);
	padding: 50px;
}
h2{
	color: #FF7F50;
	padding: 0px 316px;
	font-size: 3em;
}

h2 fa-icon {
	display: inline-block;
	transform: rotate(30deg);
}